<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card *ngIf="folder == 'Home'">
    <ion-card-content>
      <h1>
        Hola Usuario.
      </h1>
      <p>
        ¿Listo para estudiar?
      </p>
      <ion-list>
        <ion-item *ngFor="let subject of subjects">
          <ion-label (click)="goTo(subject.title)">
            {{subject.title}}
          </ion-label>
        </ion-item>
      </ion-list>
      <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button>
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </ion-card-content>
  </ion-card>

  <!--Para tus notas :D-->

  <ion-card *ngIf="folder != 'Home'">
    <ion-card-content>
      <h1 class="ion-text-center">Notas de {{folder}}</h1>
      <ion-item *ngFor="let topic of topics">
        <ion-label>{{topic.topic}}</ion-label>
      </ion-item>
      <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button>
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </ion-card-content>
  </ion-card>

</ion-content>
